.selector {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* TODO find a better way to prevent control from collapsing on the label */
.control {
  min-width: 9.5rem !important;
}
